@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

* {
  font-family: "Inter", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
}

.profileSection {
  background-color: #f6f6f6;
  padding: 65px 0 65px 35px;
  overflow: hidden;
}

.profileSection .profileLeft .profileMenu {
  border: 2px solid #00000014;
  margin-top: 25px;
  text-align: left;
}

.profileSection .profileLeft .profileMenuName {
  border-bottom: 2px solid #00000014;
  padding: 15px 20px;
}

.profileMenuName.active {
  background-color: #717984;
  color: #fff;
}

.profileSection .profileLeft .profileMenuName a {
  text-decoration: none;
  color: #555555;
  display: flex;
  gap: 10px;
  align-items: center;
}

.profileSection .profileLeft .profileMenuName:last-child {
  border-bottom: none;
}

.profileSection .profileLeft .profileMenuName a.active {
  color: #fff !important;
}

.profileSection .profileLeft .profileMenuName h4 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.profileSection .profileLeft .profileImagePhoto {
  border-radius: 50%;
  border: 8px solid #3696a0;
  padding: 8px;
  width: 100%;
}

.profileSection .profileLeft .profileIcons {
  width: 15px;
}

.profileSection .profileInfo {
  background-color: #fff;
  padding: 32px 54px;
  margin-bottom: 34px;
}

.profileSection .profileInfo h5 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
}

.profileSection .profileInfo h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
  font-family: "ABeeZee", sans-serif !important;
}

.profileSection .profileInfo .companyName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profileSection .profileInfo .companyName span {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
  font-family: "ABeeZee", sans-serif !important;
}

.profileSection .profileInfo .companyName h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  font-family: "ABeeZee", sans-serif !important;
}

.profileSection .profileInfo .directorName {
  margin-bottom: 24px;
}

.profileSection .profileInfo .directorName h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  font-family: "ABeeZee", sans-serif !important;
}

.profileSection .profileInfo .directorName span {
  font-weight: 600;
  font-size: 22px;
  font-family: "ABeeZee", sans-serif !important;
}

.profileSection .profileInfo .companyLocation {
  display: flex;
  justify-content: space-between;
  color: #787878;
  margin-bottom: 25px;
}

.profileSection .profileInfo .companyLocation .location {
  display: flex;
  align-items: center;
  background-color: #3696a0;
  padding: 22px;
  border-radius: 7px;
  color: #fff;
}

.profileSection .profileInfo .companyLocation h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.profileSection .profileInfo .companyLocation span {
  font-size: 18px;
  margin-left: 5px;
}

.profileInfo .profileContent p {
  font-size: 18px;
  margin-bottom: 20px;
}

.profileInfo .profileContent .timeline {
  background-color: #f6f6f6;
  padding: 15px;
  height: 100%;
}

.profileInfo .profileContent .timeline .timelineYear {
  display: flex;
}

.csmCheckbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.csmCheckbox label {
  position: relative;
  cursor: pointer;
  color: #000;
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  gap: 12px;
}

.csmCheckbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #b6b6b6;
  width: 19px;
  height: 18px;
  /* padding: 10px; */
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
}

.csmCheckbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.profileInfo .profileContent .yearWiseContent {
  height: 540px;
  overflow-y: auto;
}

.profileInfo .profileContent .timeLineContent {
  margin-bottom: 32px;
}

.profileInfo .profileContent .timeLineContent h3 {
  font-size: 32px;
  font-weight: 800;
}

.profileInfo .profileContent .timeLineContent span {
  color: #8f8f8f;
  font-size: 18px;
}

.profileInfo .profileContent .award {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 13px;
  gap: 30px;
}

.profileInfo .profileContent .award .awardText {
  width: 450px;
  max-width: 500px;
}

.profileInfo .profileContent .award .awardText h5 {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.profileInfo .profileContent .award .awardText span {
  font-size: 16px;
  margin: 0;
}

.profileInfo .profileContent .news h6 {
  color: #2c7279;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
}

.profileSection .profileCompany {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
  height: 100%;
}

.profileSection .profileCompany .companyBox {
  border: 2px solid #3696a0;
}

.profileSection .profileCompany .relatedCompany {
  border-bottom: 2px solid #3696a0;
  padding: 15px;
}

.profileSection .profileCompany .relatedCompany h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.profileSection .profileCompany .companyLogos {
  border-bottom: 2px solid #000;
}

.profileSection .profileCompany .companyLogos:last-child {
  border-bottom: none;
}

.profileSection .profileCompany .companyLogos img {
  margin: 15px 0;
  /* width: 250px; */
}

.profileContent .galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galleryImage:hover {
  transform: scale(1.05);
}

.profileInfo .videoSlider img {
  margin-bottom: 16px;
}

.profileInfo .videoSlider h4 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.profileInfo .videoSlider span {
  font-size: 18px;
}

.profileInfo .videoSlider p {
  margin-top: 15px;
  font-style: italic;
  font-weight: 300;
}

.toggleImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* ARTICLES STYLES */

.articleBox {
  margin-top: 33px;
}

.articleBox .articleSlider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.articleBox .articleSlider h4 {
  font-size: 18px;
  font-weight: 800;
  max-width: 250px;
}

.articleBox span {
  color: #8f8f8f;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.articleBox p {
  margin-top: 30px;
  font-style: italic;
  font-weight: 300;
}

.profileInfo .articleSection {
  position: relative;
}

.arrowImg {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.left {
  left: -35px;
}

.right {
  right: -35px;
}

.profileSection .profileCompany .similarProfile {
  margin-top: 88px;
  border: 2px solid #3696a0;
}

.profileSection .profileCompany .similarProfile .companyNames {
  border-bottom: 2px solid #3696a0;
}

.profileSection .profileCompany .similarProfile .companyNames .companyRow {
  margin: 20px 0;
}

.profileSection .profileCompany .similarProfile .companyNames h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 800;
}

.profileSection .profileCompany .similarProfile .companyNames span {
  font-size: 18px;
  margin: 0;
  font-style: italic;
}

.profileSection .profileCompany .similarProfile .companyNames h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

.profileSection .profileCompany .similarProfile .seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.profileSection .profileCompany .similarProfile .seeMore h3 {
  font-size: 22px;
  font-weight: 800;
}

.profileInfo .socialIcon {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .profileSection {
    padding: 0;
  }

  .profileSection .profileInfo {
    padding: 20px;
    margin-top: 20px;
  }

  .profileSection .profileInfo h1 {
    font-size: 40px;
    text-align: center;
  }

  .profileSection .profileInfo .companyName {
    display: grid;
    gap: 20px;
  }

  .profileSection .profileInfo .companyLocation {
    display: grid;
    gap: 5px;
  }

  .profileInfo .profileContent .yearWiseContent {
    margin-top: 30px;
  }

  .profileSection .profileCompany {
    padding: 0 !important;
  }

  .profileSection .profileCompany .similarProfile .companyNames .companyRow {
    margin: 20px;
  }

  .profileInfo .profileContent .award .awardText {
    width: 100%;
  }

  .left {
    left: -20px;
  }

  .right {
    right: -20px;
  }

  .profileInfo .profileContent .award {
    display: grid;
    gap: 15px;
  }
}

@media (max-width: 991px) {
  .profileSection {
    padding: 0;
  }

  .profileSection .profileInfo {
    padding: 20px;
    margin-top: 20px;
  }

  .profileSection .profileCompany {
    text-align: left;
  }

  .profileSection .profileCompany {
    padding: 0 !important;
  }

  .profileSection .profileCompany .similarProfile .companyNames .companyRow {
    margin: 20px;
  }

  .profileInfo .profileContent .award .awardText {
    width: 100%;
  }

  .left {
    left: -20px;
  }

  .right {
    right: -20px;
  }
}

/* Loader Styles */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f9f9;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
